* {
    padding: -0;
    margin: 0;
    box-sizing: border-box;
}

.nav-container {
    width: 100%;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.nav-container:hover {
    /* border: 1px solid black; */
}

.nav-logo:hover {
    border: 1px solid black;
}

.nav-features ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    font-weight: bold;
    font-size: medium;
}

.nav-features ul:hover {

    border: 1px solid black;
    padding: 10px;
}

.nav-features ul li:hover {
    color: orange;
    /* border: 1px solid black; */
}

.nav-btn button {
    width: 164px;
    padding: 20px;
    color: green;
    border-radius: 10px;
}

.nav-btn button:hover {
    background-color: blue;
    color: white;
}

/* navbr end  */

/* strat hero section  */

/* end hero section  */