* {
    padding: -0;
    margin: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    overflow: hidden;
}

.nav-container {
    width: 100%;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.nav-container:hover {
    /* border: 1px solid black; */
}

.nav-logo:hover {
    border: 1px solid black;
}

.nav-features ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    font-weight: bold;
    font-size: medium;
}

.nav-features ul:hover {

    border: 1px solid black;
    padding: 10px;
}

.nav-features ul li:hover {
    color: orange;
    /* border: 1px solid black; */
}

.nav-btn button {
    width: 164px;
    padding: 20px;
    color: green;
    border-radius: 10px;
}

.nav-btn button:hover {
    background-color: blue;
    color: white;
}

/* navbr end  */

/* strat hero section  */
.hero-section {}

.hero-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 674px;
    width: 100%;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;

}


.hero-section-item {
    gap: 10px;
    color: white;

}

.hero-section-item h1 {
    max-width: 730px;
    font-size: 72px;
    font-weight: 700;
    style: bold;
    line-height: 84px;
    margin-bottom: 1rem;
}

.hero-section-item h1 span {
    color: green;
}

.hero-section-item-Early {
    display: flex;
    justify-content: center;


}

.hero-section-item-Early-p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 229px;
    background-color: aliceblue;
    color: green;
    border-radius: 1000px;
    gap: 10px;

}

.hero-section-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 2rem;
}

.btn1 {
    height: 52px;
    width: 251px;
    border-radius: 4px;
    background-color: green;
    border: none;
    color: white;
}

.btn2 {
    height: 52px;
    width: 198px;
    border: 1px solid white;
    background: transparent;
    color: white;
    border-radius: 4px;
}

/* end hero section  */
/* header prat end  */

/* main section strat  */


.notes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 152px;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    gap: 5px;
}

.notes-container:hover {
    border: 1px solid black;
}

.notes-container h1 {
    font-size: 48px;
    font-weight: bold;
}

/* crad prat strat  */

.crad-container {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}