* {
    padding: -0;
    margin: 0;
    box-sizing: border-box;
}

.nav-container {
    width: 100%;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.nav-features ul {
    display: flex;
    gap: 3rem;
    list-style: none;

}