* {
    padding: -0;
    margin: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    /* overflow: hidden; */
    background-color: #f9f9f9;
}

.nav-container {
    width: 100%;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.nav-container:hover {
    /* border: 1px solid black; */
}

.nav-logo:hover {
    border: 1px solid black;
}

.nav-features ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    font-weight: bold;
    font-size: medium;
}

.nav-features ul:hover {

    border: 1px solid black;
    padding: 10px;
}

.nav-features ul li:hover {
    color: orange;
    /* border: 1px solid black; */
}

.nav-btn button {
    width: 164px;
    padding: 20px;
    color: green;
    border-radius: 10px;
}

.nav-btn button:hover {
    background-color: blue;
    color: white;
}

/* navbr end  */

/* strat hero section  */
.hero-section {}

.hero-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;

}


.hero-section-item {
    gap: 10px;
    color: white;

}

.hero-section-item h1 {
    max-width: 730px;
    font-size: 72px;
    font-weight: 700;
    style: bold;
    line-height: 84px;
    margin-bottom: 1rem;
}

.hero-section-item h1 span {
    color: green;
}

.hero-section-item-Early {
    display: flex;
    justify-content: center;


}

.hero-section-item-Early-p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 229px;
    background-color: aliceblue;
    color: green;
    border-radius: 1000px;
    gap: 10px;

}

.hero-section-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 2rem;
}

.btn1 {
    height: 52px;
    width: 251px;
    border-radius: 4px;
    background-color: green;
    border: none;
    color: white;
}

.btn2 {
    height: 52px;
    width: 198px;
    border: 1px solid white;
    background: transparent;
    color: white;
    border-radius: 4px;
}

/* end hero section  */
/* header prat end  */

/* main section strat  */


.notes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 152px;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    gap: 5px;
}

.notes-container:hover {
    border: 1px solid black;
}

.notes-container h1 {
    font-size: 48px;
    font-weight: bold;
}

.notes-container p {
    opacity: 0.7;
}

/* crad prat strat  */

.crad-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}

.crad-container .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 322px;
    height: 300px;
    background-color: white;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}

.crad-container .box:hover {
    border: 1px solid #4a5568;
    ;
}

.crad-container .box img {
    height: 60px;
    width: 60px;
    background-color: orange;
    padding: 10px;
    border-radius: 100%;
    background-position: center;
    box-sizing: border-box;
    object-fit: cover;
}

.crad-container .box p {
    opacity: 0.7;
    width: 274px;
}

.crad-container .box h1 {
    font-weight: bold;
}

/* crad section end  */

/* strat brain section  */

.brain-container {
    width: 100%;
    max-width: 1360px;
    height: 840px;
    margin: 0 auto;
}

.brain-container {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

.brain-container-images {
    width: 600px;
    height: 600px;
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
    overflow: hidden;
}

.brain-container-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    border-radius: 12px;

}

.brain-container-p {}

.brain-container-p p {
    margin: 2rem 0;
    font-size: 16px;
    width: 400px;
    opacity: 0.7;
}

.brain-container-p h1 {
    margin: 2rem 0;
    font-size: 2.5rem;
    width: 400px;

}

.brain-container-h1 {
    margin: 0;
}

.brain-container-h1-4box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

}


/* brain-container end  */

.ready-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1360px;
    height: 384px;
    margin: 0 auto;
    background-color: rgba(247, 246, 242, 1);
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    text-align: center;
    gap: 2rem;
}

.ready-container-btn {
    width: 194px;
    height: 52px;
    padding: 10px;
    border-radius: 10px;
    background-color: #30B868;
    border: none;
    color: white;
}

.ready-container-hp p {
    margin-top: 1.5rem;
    width: 500px;
    text-align: center;
}

.ready-container-hp h1 {
    font-size: 2.5em;
}

.ready-container-btn {
    margin-bottom: 10px;
}

/* ready prat end */

/* footer {
    display: flex;
    justify-content: center;
    align-items: center;
} */

.ftr {
    display: flex;
    justify-content: center;
    align-items: center padding: 0 20px;
    height: 348px;
    width: 100%;
    background-color: rgba(0, 25, 49, 1);
    margin-top: 6rem;

}

.ftr-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1360px;
    height: 60px;
    margin: auto auto;
    border: 1px solid #30B868;

}

.ftr-container-3img img {
    width: 20px;
    height: 20px;
}