* {
    padding: -0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

img,
video,
picture {
    max-width: 100%;
    height: auto;
    display: block;
}

body {
    min-height: 100vh;
    background-color: #f9f9f9;
    font-family: system-ui, -apple-system, sans-serif;
    line-height: 1.6;
}






/* STRAT CSS DESIGN  */



.nav-container {
    width: 100%;
    max-width: 1360px;
    min-height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.nav-container:hover {
    /* border: 1px solid black; */
}

.nav-logo:hover {
    border: 1px solid black;
    border-radius: 10px;
}

.nav-features ul {
    display: flex;
    gap: 3rem;
    list-style: none;
    font-weight: bold;
    font-size: medium;
    border-radius: 5px;
}

.nav-features ul:hover {

    border: 1px solid black;
    padding: 10px;
}

.nav-features ul li:hover {
    color: orange;
    /* border: 1px solid black; */
}

.nav-btn button {
    max-width: 164px;
    padding: 20px;
    color: green;
    border-radius: 10px;
}

.nav-btn button:hover {
    background-color: blue;
    color: white;
    border: 1px solid white;
}

/* navbr end  */

/* strat hero section  */

.hero-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    /* max-width: 1360px; */
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;

}


.hero-section-item {
    gap: 10px;
    color: white;

}

.hero-section-item h1 {
    max-width: 730px;
    font-size: 72px;
    font-weight: 700;
    style: bold;
    line-height: 84px;
    margin-bottom: 1rem;
}

.hero-section-item h1 span {
    color: green;
}

.hero-section-item-Early {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.hero-section-item-Early-p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 229px;
    background-color: aliceblue;
    color: green;
    border-radius: 1000px;
    gap: 10px;

}

.hero-section-btn {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 2rem;
}

.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 52px;
    width: 200px;
    border-radius: 4px;
    background-color: green;
    border: none;
    color: white;
}

.btn1:hover {
    background-color: blue;
    border: 1px solid white;
}

.btn1 img {
    /* border: 1px solid #30B868; */
    height: 20px;
    width: 20px;
}


.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    height: 50px;
    width: 170px;
    border: 1px solid white;
    background: transparent;
    color: white;
    border-radius: 4px;
}

.btn2:hover {
    background-color: blue;
    border: 1px solid white;
}

.btn2 img {
    height: 15px;
    width: 15px;
}

/* end hero section  */
/* header prat end  */

/* main section strat  */


.notes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 152px;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    gap: 5px;
}


.notes-container h1 {
    font-size: 48px;
    font-weight: bold;
}

.notes-container:hover {
    border: 1px solid black;
    border-radius: 8px;
}

.notes-container p {
    opacity: 0.7;
}

.notes-container p:hover {
    border: 1px solid black;
    border-radius: 8px;
}

/* crad prat strat  */

.crad-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
}

.crad-container .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 322px;
    height: 300px;
    background-color: white;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
}

.crad-container .box:hover {
    border: 1px solid #4a5568;
    ;
}

.crad-container .box img {
    height: 60px;
    width: 60px;
    background-color: orange;
    padding: 10px;
    border-radius: 100%;
    background-position: center;
    box-sizing: border-box;
    object-fit: cover;
}

.crad-container .box p {
    opacity: 0.7;
    width: 274px;
}

.crad-container .box h1 {
    font-weight: bold;
}

/* crad section end  */

/* strat brain section  */

.brain-container {
    width: 100%;
    max-width: 1360px;
    height: 840px;
    margin: 0 auto;
}

.brain-container {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}

.brain-container-images {
    width: 600px;
    height: 600px;
    border: 1px solid #f0f0f0;
    box-sizing: border-box;
    overflow: hidden;
}

.brain-container-images:hover {
    border: 1px solid navy;
    border-radius: 20px;
}

.brain-container-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
    border-radius: 12px;

}

.brain-container-p {}

.brain-container-p p {
    margin: 2rem 0;
    font-size: 16px;
    width: 400px;
    opacity: 0.7;
}

.brain-container-p p:hover {
    border: 1px solid black;
    border-radius: 6px;
}

.brain-container-p h1:hover {
    border: 1px solid black;
    border-radius: 6px;
}

.brain-container-p h1 {
    margin: 2rem 0;
    font-size: 2.5rem;
    width: 400px;

}

.brain-container-h1 {
    margin: 0;
}

.brain-container-h1-4box {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

}

.brain-container-h1-4box:hover {

    border: 1px solid black;
    border-radius: 6px;
}


/* brain-container end  */

.ready-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1360px;
    height: 384px;
    margin: 0 auto;
    background-color: rgba(247, 246, 242, 1);
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    text-align: center;
    gap: 2rem;
}

.ready-container-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    width: 170px;
    height: 52px;
    padding: 5px;
    border-radius: 10px;
    background-color: #30B868;
    border: none;
    color: white;
    margin: 0 auto;
}

.ready-container-btn:hover {
    border: 1px solid black;
    border-radius: 6px;
    background-color: blue;
}

.ready-container-btn img {
    height: 20px;
    width: 20px;

}

.ready-container-hp p {
    margin-top: 1.5rem;
    width: 500px;
    text-align: center;
}

.ready-container-hp h1 {
    font-size: 2.5em;
}

.ready-container-btn {
    margin-bottom: 10px;
}

.ready-container-hp p:hover {
    border: 1px solid black;
    border-radius: 6px;
}

.ready-container-hp p:hover {
    border: 1px solid black;
    border-radius: 6px;
}


/* ready prat end */



.footer {
    background-color: rgba(0, 25, 49, 1);
    width: 100%;
    margin-top: 5rem;
}

.footer-wrapper {
    max-width: 1360px;
    margin: 0 auto;
    padding: 80px 20px 30px;
    color: #fff;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-logo img {
    height: 45px;
}

/* Social */
.footer-social p {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: right;
}

.social-icons {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}

.social-icons img {
    width: 34px;
    height: 34px;
    background: #fff;
    padding: 6px;
    border-radius: 50%;
}

/* Divider line */
.footer-line {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 50px 0 25px;
}

/* Copyright */
.footer-copy {
    text-align: center;
    font-size: 16px;
    opacity: 0.8;
}

/* Responsive */
@media (max-width: 576px) {
    .footer-top {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .footer-social p {
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }
}



@media screen and (max-width: 576px) {


    .nav-container {
        flex-direction: row;
        width: auto;
        height: auto;
        align-items: center;

    }

    ul li {
        display: none;
    }

}



@media screen and (min-width: 576px) and (max-width: 768px) {
    .crad-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .brain-container {
        display: grid;
        grid-template-columns: 1, 1fr;
        height: auto;
        width: 100%;
    }

    .hero-section-item-Early {
        width: 100%;
        height: auto;
    }
}